<h2>Categorias</h2>

<h5><%= link_to 'Criar categoria', new_category_path %></h5>

<table> 
    <thead> 
        <tr>
            <th> Nome </th>
            <th> Status </th>
            <th> Editar </th>
        </tr>
    </thead>
    <tbody> 
        <% if @categories.blank? %>
            <tr>
                <th>não existem categorias</th>
            </tr>
        <% else %>
            <% @categories.each do |category| %>
                <tr>
                    <td><%= link_to category.name, category_path(category.id) %></td>
                    <td><%= category.state %></td>
                    <td><%= link_to 'Editar', edit_category_path(category.id)  %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody> 
</table>
